extends layout

block headerScripts

block content
	.navbar.navbar-inverse(role = 'navigation')
		.container
			.navbar-header
				.navbar-brand
					span.glyphicon.glyphicon-list-alt
					|UCT Physics Webmarks
	.container
		.row
			.col-xs-12
				.alert.alert-danger
					span.fui-alert-circle.pad10h
					span
						|#{errorInfo}