extends layout

block headerScripts

block content
	.navbar.navbar-inverse(role = 'navigation')
		.container
			.navbar-header
				.navbar-brand
					span.fui-document.pad10h
					| UCT Physics Webmarks
	.container
		.row
			.col-xs-12
				div(class='alert alert-info') 
					span
						|The course does not have a WebMarks database, or the URL was invalid