extends layout

block content
	div#page1(data-role='page')
		div(data-theme='b',data-role='header')
			h3 WebMarks 
		div(data-role='content')
			a#authError(class="ui-body ui-body-e", align="center")
				|The course does not have a WebMarks database, or the URL was invalid