extends layout

block headerScripts

block content
	.navbar.navbar-inverse(role = 'navigation')
		.container
			.navbar-header
				.navbar-brand
					span.fui-document.pad10h
					|#{courseName}
	.container
		.row
			.col-xs-12
				.alert.alert-info
					span
						|#{studentID}: Your student number was not found in the #{courseName} database