doctype html
html
	head
		title= "WebMarks"
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/flat-ui/css/modules_flat-ui.min.css')
		link(rel='stylesheet', href='/bootstrap/css/additional.css')
		link(rel='stylesheet', href='/flat-ui/css/extra.css')
		script(src='/jquery/jquery-1.11.3.min.js')
		script(src='/flat-ui/js/flat-ui.min.js')
		script(src='/bootstrap/js/additional.js')
		block headerScripts		
		<meta name="viewport" content="width=device-width, initial-scale=1">
	body
		block content
