extends layout

block content
	div#page1(data-role='page')
		div(data-theme='a',data-role='header')
			h3 WebMarks 
		div(data-role='content')			
			a(class="ui-body ui-body-e", align="center")
				|Please append your student ID (e.g. /testid001) to the URL