extends layout

block headerScripts

block content	
	.navbar.navbar-inverse(role = 'navigation')
		.container
			.navbar-header
				.navbar-brand
					span.glyphicon.glyphicon-list-alt
					|WPS Lottery
	.container
		div(align="center")
			p.lead #{headingText}
			div 				
				ul.list-unstyled#nameList
					- for (var i = 0; i < names.length; i++) {
					- if (i%2 == 0)
						li.list-group-item.col-xs-4 #{names[i].studentID}
					- else
						li.list-group-item.col-xs-4
							strong #{names[i].studentID}
					- }

