extends layout

block headerScripts
	script.
		$(document).ready(function()
		{  
			$("#errMissingID").hide();
		});
		function viewMarks()
		{
			var studentID=$("#textName").val();
			if (!studentID)				
			{
				$("#errMissingID").slideDown();
				return;
			}
			var currentURL=String(window.location);
			currentURL=currentURL.replace(/\/+$/, "");
			var newURL=(currentURL+"/"+studentID);
			window.location=newURL;
		}

block content
	.navbar.navbar-inverse(role = 'navigation')
		.container
			.navbar-header
				.navbar-brand
					span.glyphicon.glyphicon-list-alt
					|UCT Physics Webmarks
	include includes/bannerImage.jade
	.container
		.panel.panel-primary
			.panel-heading
				h3.panel-title Student details
			.panel-body
				.row.pad5v
					.col-xs-12
						input.form-control#textName(type="text",name="textName", placeholder="Enter your student ID" ,onkeydown="if (event.keyCode == 13) viewMarks()")
				.row.pad5v
					.col-xs-12.col-sm-6.col-md-4
						button.btn.btn-primary.btn-block#buttonViewMarks(name="buttonViewMarks", align="center",onClick="viewMarks()") View Marks
		include includes/commonAlerts.jade