extends layout
block bannerImage
	img.pad10v.img-responsive(src="/images/banner.jpg")

block headerScripts
	script.
		$(document).ready(function()
		{  
			$("#errMissingID").hide();
		});
		function viewMarks()
		{
			var studentID=$("#textName").val();
			if (!studentID)				
			{
				$("#errMissingID").slideDown();
				return;
			}
			var currentURL=String(window.location);
			currentURL=currentURL.replace(/\/+$/, "");
			var newURL=(currentURL+"/"+studentID);
			window.location=newURL;
		}

block content
	.navbar.navbar-inverse(role = 'navigation')
		.container
			.navbar-header
				.navbar-brand
					span.fui-document.pad10h
					| UCT Physics Webmarks	
	block bannerImage
	.container
		include includes/commonInput.jade