.bottom5 {
  margin-bottom: 5px;
}

.bottom7 {
  margin-bottom: 7px;
}

.bottom10 {
  margin-bottom: 10px;
}

.bottom15 {
  margin-bottom: 15px;
}

.bottom17 {
  margin-bottom: 17px;
}

.bottom30 {
  margin-bottom: 30px;
}

.pad1h {
  padding-right: 1px;
  padding-left: 1px;
}

.pad2h {
  padding-right: 2px;
  padding-left: 2px;
}

.pad5h {
  padding-right: 5px;
  padding-left: 5px;
}

.pad7h {
  padding-right: 7px;
  padding-left: 7px;
}

.pad10h {
  padding-right: 10px;
  padding-left: 10px;
}

.pad15h {
  padding-right: 15px;
  padding-left: 15px;
}

.pad30h {
  padding-right: 30px;
  padding-left: 30px;
}

.pad1v {
  padding-top: 1px;
  padding-bottom: 1px;
}

.pad2v {
  padding-top: 2px;
  padding-bottom: 2px;
}

.pad5v {
  padding-top: 5px;
  padding-bottom: 5px;
}

.pad7v {
  padding-top: 7px;
  padding-bottom: 7px;
}

.pad10v {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pad15v {
  padding-top: 15px;
  padding-bottom: 15px;
}

.pad30h {
  padding-top: 30px;
  padding-bottom: 30px;
}

/*---------------------------------FLATUI EXTENSIONS
    */
.col-centered {
  float: none;
  margin: 0 auto;
}

.panel {
  border-radius: 0px;
}
.panel .panel-heading {
  color: white;
  border-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.panel-primary {
  border-color: #1abc9c;
}
.panel-primary .panel-heading {
  background-color: #1abc9c;
  border-color: #1abc9c;
}

.panel-warning {
  border-color: #F17F0F;
}
.panel-warning .panel-heading {
  background-color: #F17F0F;
  border-color: #F17F0F;
}

.panel-default {
  border-color: #bdc3c7;
}
.panel-default .panel-heading {
  background-color: #bdc3c7;
  border-color: #bdc3c7;
}

.panel-danger {
  border-color: #e74c3c;
}
.panel-danger .panel-heading {
  background-color: #e74c3c;
  border-color: #e74c3c;
}

.panel-success {
  border-color: #2ecc71;
}
.panel-success .panel-heading {
  background-color: #2ecc71;
  border-color: #2ecc71;
}

.panel-inverse {
  border-color: #34495e;
}
.panel-inverse .panel-heading {
  background-color: #34495e;
  border-color: #34495e;
}

.panel-info {
  border-color: #3498db;
}
.panel-info .panel-heading {
  background-color: #3498db;
  border-color: #3498db;
}

.panel-disabled {
  border-color: #bdc3c7;
}
.panel-disabled .panel-heading {
  background-color: #bdc3c7;
  border-color: #bdc3c7;
}

.alert {
  border-radius: 0px;
}

.alert-primary {
  border-color: #1abc9c;
  background-color: #1abc9c;
  border-color: #1abc9c;
}
.alert-primary span {
  font-weight: bold;
  color: white;
}

.alert-warning {
  border-color: #f1c40f;
  background-color: #f1c40f;
  border-color: #f1c40f;
}
.alert-warning span {
  font-weight: bold;
  color: white;
}

.alert-default {
  border-color: #bdc3c7;
  background-color: #bdc3c7;
  border-color: #bdc3c7;
}
.alert-default span {
  font-weight: bold;
  color: white;
}

.alert-danger {
  border-color: #e74c3c;
  background-color: #e74c3c;
  border-color: #e74c3c;
}
.alert-danger span {
  font-weight: bold;
  color: white;
}

.alert-success {
  border-color: #2ecc71;
  background-color: #2ecc71;
  border-color: #2ecc71;
}
.alert-success span {
  font-weight: bold;
  color: white;
}

.alert-inverse {
  border-color: #34495e;
  background-color: #34495e;
  border-color: #34495e;
}
.alert-inverse span {
  font-weight: bold;
  color: white;
}

.alert-info {
  border-color: #3498db;
  background-color: #3498db;
  border-color: #3498db;
}
.alert-info span {
  font-weight: bold;
  color: white;
}

.alert-disabled {
  border-color: #bdc3c7;
  background-color: #bdc3c7;
  border-color: #bdc3c7;
}
.alert-disabled span {
  font-weight: bold;
  color: white;
}

.btn {
  border-radius: 0px;
}

.btn-A {
  background-color: #c1272d;
  color: white;
}

.btn-B {
  background-color: #009245;
  color: white;
}

.btn-C {
  background-color: #2091dc;
  color: white;
}

.btn-D {
  background-color: #03070f;
  color: white;
}

.btn-E {
  background-color: #f7931e;
  color: white;
}

.btn-F {
  background-color: #aF00aF;
  color: white;
}

.btn-G {
  background-color: #5E9AC4;
  color: white;
}

.btn-H {
  background-color: #FFE25C;
  color: black;
}

.navbar {
  border-radius: 0px;
}
