.row#errMissingID
	.col-xs-12
		.alert.alert-dismissible.alert-danger
			span
				|Please choose your course and enter a student ID
.row
	.col-xs-12
		.alert.alert-primary
			span
				|Please note: for quick access, you can append your course code (e.g. /1004w) and student ID (e.g. /testid001) to the WebMarks URL